.card
{
    width: 100%;
    height: auto;
    background-color: red;
    border: black 2px solid;
    border-radius: 20px;
    text-align: center;
}
.carditem1
{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.carditem2
{
    font-size: larger;
}
