
.name img{     
    width: 30px;
    height: auto;
}
.name{
    display: flex;
    justify-content: center;
    color:blue;
}
.chartalign{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   height: 20vh;
   box-sizing: border-box;
}
.chartitem{
    flex: 1;
    width: 20vw;
    height: 100%;
    position: relative;
    text-align: center;
}
.chartalign p {
    position: absolute;
    top: 50%;
    left: 9%;
}
.complete{
        justify-items: center;
}
.total {
     justify-items: center;
        font-size: xx-large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}