body,html #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.main {
  display: flex;
  flex-direction: column;
}
.sub1 {
  flex: 1;
  display: flex;
}

.name {
  font-size: xx-large;
}
.sub3 {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  border: 3px solid lightgray;
  background-color: aliceblue;
}
.sub4 {
  border-left: 3px solid lightgray;
  padding:0px 5px 0px 5px;
}
.sub5
{
  border-top: 3px solid lightgray;
}