.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid lightgray;
  height: 17vh;
  background-color: aliceblue;
  width: 100%;
}
#logo {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 2rem;
}
#board {
  color: orange;
}
#search {
  display: flex;
  position: relative;
  align-items: center;
  flex:1;
  /* padding-left: 10px; */
}
#search input {
  border-radius: 20px;
  border-color: blue;
  flex: 1;
  min-width: 92%;
}
#search button {
  color: white;
  border: none;
  font-size: large;
  background-color: blue;
  border-radius: 40%;
}
#search button:hover {
  background-color: orangered;
  color: white;
  border-radius: 90%;
  border: none;
  font-size: xx-larger;
}
 #datecolor {
  display: flex;
  color: orange;
  font-size: 1.5rem;
  justify-content: center;
}

@media(max-width:768px){
  #logo {
  gap: 2px;
  font-size: 1.5rem;
}
.date,#datecolor {
  font-size: 1rem;
}
}
@media(max-width:480px){

   #logo {
  gap: 2px;
  font-size: 1rem;
}
.date,#datecolor {
  font-size: 0.5rem;
}
}