
ul { 
  display: inline;
  list-style: none;
}
li {

  font-size: large;
  margin-bottom: 30px;
}
li:hover {
  color: white;
  background-color: blue;
  border-radius: 20px;
}
img {

  width: 100px;
  border-radius: 50%;
}
.sidebar-container {
  position: relative;
  background-color: orange;
}
 #btnside {
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 20px;
}
 #btnside:hover {
  color: white;
  background-color: red;
  border-radius: 20px;
}
.navlink
{
  text-decoration: none;
  display: block;
}
.navlink:hover{
  color : white
}