.items {
  margin-top: 90px;
  width: 150px;
}
ul {
  display: inline;
  list-style: none;
}
li {
  font-size: large;
  margin-bottom: 30px;
}
li:hover {
  color: white;
  background-color: blue;
  border-radius: 20px;
}
img {
  position: absolute;
  width: 100px;
  left: 23px;
  border-radius: 50%;
}
.sidebar-container {
  position: relative;
  background-color: orange;
}
.sidebar-container button {
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 20px;
}
.sidebar-container button:hover {
  color: white;
  background-color: red;
  border-radius: 20px;
}
